<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Не найдено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="alert alert-danger">Извините, по этому адресу ничего нет.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
